<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		<listener class-name="utillities.ExtentReportManager"/>
	</listeners>
	<test thread-count="5" name="Chrometest">
		<parameter name="br" value="Chrome" />
		<groups>
			<run>
				<include name="smoke"/>
				<include name="regression"/>
			</run>
		</groups>
		<classes>
			<class name="testclass.BookShelvesCheck"/>
			<class name="testclass.DropdownCheck"/>
			<class name="testclass.GiftcardsCheck"/>
		</classes>
	</test> <!--Test -->
</suite> <!--Suite -->
